.test-element
{
	display: block;
	width: 200px;
	height: 200px;
	margin: 40px auto 0 auto;
	background-color: blue;
	color: white;
	font-size: 24px;
	text-align: center;
	line-height: 200px;
	font-family: Helvetica, Arial, sans-serif;
}

.test-element.bg-colour-change
{
	background-color: black;
}