// Vars
$color-btn: #444;
$color-dot: #444;

/*
   Slider basics
   ========================================================================== */
.js .KOsliderContainer {
	width: 100%;
	overflow: hidden;
}

.js .slider {
	position: relative;
	overflow: hidden;
	transition: transform 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000), height 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);

	li {
		float: left;
		position: relative;
		z-index: 100;
	}
}

.no-js .slider {
	li {
		margin-bottom: 25px;
		padding-bottom: 30px;
		border-bottom: 2px solid #fff;
	}
}


/*
   Pagination wrapper
   ========================================================================== */
.js .sliderUI {
	min-height: 38px;
	padding: 10px 0;

	&.sliderUI--above {
		border-bottom: 2px solid #fff;
		margin-bottom: 10px;
	}
	&.sliderUI--below {
		border-top: 2px solid #fff;
		margin-top: 10px;
		text-align: center;
	}
	&.sliderUI--over {
		margin-top: 10px;
		text-align: center;
	}
}

.no-js .sliderUI {
	display: none;
}


/*
   Dots
   ========================================================================== */
.sliderUI-dots {
	display: inline-block;
	line-height: 30px;
	height: 28px;
	margin: 0 5px;
}

.sliderUI-dot {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 20px;
	margin: 0 5px;
	opacity: 0.6;
	background-color: $color-dot;
	transition: all 200ms ease-in-out;

	&.is-active {
		opacity: 1;
	}
}


/*
   Pagers
   ========================================================================== */
.sliderUI-pagers {
	display: inline-block;
	// text-align: right;
}
.slider-btn {
	overflow: hidden;
	width: 70px;
	height: 28px;
	background-color: $color-btn;
	text-indent: 150%;
	display: inline-block;
	border: none;
	border-radius: 50px;

	&:hover,
	//&:active,
	&:focus {
		background-color: darken($color-btn, 10%);
		outline: none;
	}

	&[disabled] {
		opacity: 0.6;
	}

	&[disabled]:hover {
		background-color: transparent;
	}

	&.previous {
		background-position: 8px center;
	}
	&.next {
		background-position: 12px center;
	}
}

